
@font-face {
  font-family: 'GoodTimesRg-Regular';
  src: url('GoodTimesRg-Regular.eot?#iefix') format('embedded-opentype'),  url('GoodTimesRg-Regular.woff') format('woff'), url('GoodTimesRg-Regular.ttf')  format('truetype'), url('GoodTimesRg-Regular.svg#GoodTimesRg-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
